



.App {
  position: relative;  
}


.background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;  
}


.blur-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); 
}


.background-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  filter: blur(10px);  
  z-index: -1;  
}


.content {
  position: relative; 
  z-index: 1;  
  padding: 20px;  
}
body {
  font-family: 'Rajdhani', sans-serif;
}

.dish-item {
  position: relative;
  display: inline-block;
  margin: 10px;
  text-align: center;
}

.overlay {
  position: relative;
}

.overlay::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2); 
  z-index: 1; 
  border-radius: 50px; 
}

.overlay > * {
  position: relative;
  z-index: 2; 
}
